extends layout
block content
  h1(class="text-center") Images
  form(ref='uploadForm'
    id='uploadForm'
    action='/upload/' + user
    method='post'
    encType="multipart/form-data") 
      .row
        .col-3
            input.file-select(type="file" name="sampleFile" class='file')
        .col
            button.btn-file#upload(type='submit' class="btn btn-secondary") Upload 
  br 
  br 

  form(ref='deleteForm'
    id='deleteForm'
    action='/delete/' + user
    method='post'
    encType="multipart/form-data") 
    .row
        .col-3
            input.delete(type='text' name='delfile' placeholder='File name' autocomplete="off")
        .col
            button.btn-file#delete(type='submit' class="btn btn-danger" ) Delete
  br
  br
  
  table#tableID
    caption Files
    thead
      tr
        th(scope='col') File Name
        th(scope='col') Download
    tbody
    each file in files 
      tr
        td(data-label='Fine Name')= file
        td(data-label='Download') 
          a(href='/uploads/'+ user + '/' + file, download) Download

          //- a(href='/uploads/projects/'+ readpath + '/' + file, download) 
          //-   p= file